<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="TodoRequestDTO" type="com.siat.testsiat.test.model.dto.TodoRequestDTO"/>
        <typeAlias alias="TodoResponseDTO" type="com.siat.testsiat.test.model.dto.TodoResponseDTO"/>
        <typeAlias alias="UserResponseDTO" type="com.siat.testsiat.user.model.domain.UserResponseDTO"/>
        <typeAlias alias="UserRequestDTO" type="com.siat.testsiat.user.model.domain.UserRequestDTO"/>
    </typeAliases>

</configuration>